#body{
    background-color: lightgray;
}
#head{
    text-align: center;
    font-size: 30px;
    color: blue;
    font-style: italic;
    font-weight: bold;
}

#outer{
    height: 10px;
    border: 3px solid black;
}

#inner{
    height: 100%;
    background-color: green;
    width: 0%;
}